<header class="section-header">
  <h3 class="section-title">Edit House</h3>
</header>

<%= render 'form', house: @house %>

<div class="centered-button">
  <%= link_to 'Show House', @house, class: "btn-get-started" %>
  <%= link_to 'Back to All Houses', houses_path, class: "btn-get-started" %>
</div>
