<header class="section-header">
  <h3 class="section-title">New House</h3>
</header>

<%= render 'form', house: @house %>

<div class="centered-button">
  <%= link_to 'Show All Houses', houses_path, class: "btn-get-started" %>
</div>
