<header class="section-header wow fadeInUp">
  <h3 class="section-title">Edit Task</h3>
</header>

<%= render 'form', task: @task %>

<div class="centered-button">
  <%= link_to 'Show Task', [@house, @group, @task], class: "btn-get-started" %>
  <%= link_to 'Back to All Tasks', house_group_tasks_path, class: "btn-get-started" %>
</div>
