<header class="section-header">
  <h3 class="section-title">New Task for <%=@group.name %></h3>
</header>

<%= render 'form', task: @task %>

<div class="centered-button">
  <%= link_to 'Show All Tasks', house_group_tasks_path, class: "btn-get-started" %>
</div>
