<header class="section-header wow fadeInUp">
  <h3 class="section-title">Edit Group</h3>
</header>

<%= render 'form', group: @group %>

<div class="centered-button">
  <%= link_to 'Show Group', [@house, @group], class: "btn-get-started" %>
  <%= link_to 'Back to All Groups', house_groups_path, class: "btn-get-started" %>
</div>
