<header class="section-header wow fadeInUp">
  <h3 class="section-title">New Group in <%=@house.name %></h3>
</header>

<%= render 'form', group: @group %>

<div class="centered-button">
  <%= link_to 'Show All Groups', house_groups_path, class: "btn-get-started" %>
</div>
