.centered-button {
  text-align: center;
  padding-top: 30px;
}

.btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: $white;
  background: $yellow;
}

.btn-get-started:hover {
  background: $white;
  color: $yellow;
}

.btn-action {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  color: $yellow;
  background: $white;
  border: 1px solid $yellow;
}

.btn-action:hover {
  background: $yellow;
  color: $white;
}

.btn-action-inv {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  color: $white;
  background: transparent;
  border: 1px solid $white;
}

.btn-action-inv:hover {
  color: $yellow;
  background: $white;
  border: 1px solid $yellow;
}

.cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid $white;
  color: $white;
}

.cta-btn:hover {
  background: $yellow;
  border: 2px solid $yellow;
  color: $white;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: $yellow;
  color: $white;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: $white;
}

.complete-task button {
  background-color: transparent;
  border: transparent;
  color: #6c757d;
}

.complete-task button:hover {
  color: $yellow;
}

.complete-task button:focus {
  outline: none;
}
