// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#house img {
  padding: 50px 0 25px 0;
}

#house .card-body {
  padding: 10px;
}

#sub-items {
  background: linear-gradient(rgba(0, 153, 153, 0.6), rgba(0, 0, 0, 0.1));
  background-size: cover;
  padding: 60px;
}

#sub-items .centered-button {
  text-align: center;
}

.housemate-list {
  list-style: none;
}

.housemate-list li {
  display: inline;
  padding: 0 40px;
}

.housemate-list li i {
  padding: 0 10px;
  font-size: 1.5em;
}

.house-manager {
  font-weight: bold;
  color: rgb(0, 153, 153);
}

/* sub-items Section
--------------------------------*/

#sub-items .box {
  margin-bottom: 30px;
}

#sub-items .icon {
  float: left;
  margin-left: 30px;
}

#sub-items .icon i {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  transition: 0.5s;
}

#sub-items .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  margin-left: 100px;
}

#sub-items .title a {
  color: #111;
}

#sub-items .box:hover .title a {
  color: #fff;
}

#sub-items .description {
  font-size: 14px;
  margin-left: 100px;
  line-height: 24px;
  margin-bottom: 0;
}

#sub-items .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#sub-items .cta-btn:hover {
  background: #18d26e;
  border: 2px solid #18d26e;
}

#sub-items .btn-action {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

#sub-items .btn-action:hover {
  color: #18d26e;
  background: #fff;
  border: 1px solid #18d26e;
}
