// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task .card-header i {
  color: rgb(0, 153, 153);
  font-size: 1.5em;
  display: inline;
  padding-right: 10px;
}

#task .card-header h5 {
  display: inline;
  vertical-align: top;
}

#task .card-body i {
  font-size: 1.4em;
  display: inline;
  padding-right: 5px;
}

#task .card-body h5 {
  display: inline;
}

#task .no-row-margin {
  margin-left: 0;
  margin-right: 0;
}

#task .card-footer i {
  font-size: 1.8em;
}

#task .card-footer .completed i {
  color: #18d26e;
}

#task .complete-task button {
  background-color: transparent;
  border: transparent;
  color: #6c757d;
}

#task .complete-task button:hover {
  color: #18d26e;
}

#task .complete-task button:focus {
  outline: none;
}